@use '@angular/material' as mat;

// Material 3 theme
$theme-orange-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
));

$theme-orange-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
));

.theme-orange {
  &.day-mode {
    @include mat.all-component-themes($theme-orange-light);
  }

  &.night-mode {
    @include mat.all-component-themes($theme-orange-dark);
  }
}
