@use '@angular/material' as mat;
@use './theme-mixins' as mixins;

$theme-primary: mat.define-palette(mat.$orange-palette);
$theme-accent: mat.define-palette(mat.$teal-palette);
$theme-warn: mat.define-palette(mat.$red-palette);

.theme-orange {
  &.day-mode {
    $theme: mat.define-light-theme((
      color: (
        primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn,
      ),
    ));
    @include mat.all-component-themes($theme);
    @include mixins.theme-based-configurations($theme);
  }

  &.night-mode {
    $theme: mat.define-dark-theme((
      color: (
        primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn,
      ),
    ));
    @include mat.all-component-themes($theme);
    @include mixins.theme-based-configurations($theme);
  }
}
